
<!DOCTYPE html>

<html>

<head>
    <title>ORDER A BURGER</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Domine&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Domine|Permanent+Marker&display=swap" rel="stylesheet">
     
</head>

<body>

    {{{body}}}
</body>

</html>