
<!DOCTYPE html>

<html>

<head>
    <title>ORDER A BURGER</title>
    {{!--
    <link rel="stylesheet" type="text/css" href="../../public/static/style.css"> --}}
</head>

<body>
    {{{body}}}
</body>

</html>